
        .box
        {
            width: 100%;
            height: 100px;
            background: linear-gradient(to right,rgb(2, 28, 94),rgb(31, 9, 80));
            display: flex;
            align-items: center;
            border-radius: 5px;
            justify-content: space-between;
            /* justify-content: center; */
            margin: 0;
        } 
        .logo {
            justify-content: left;
            left: 30%;
        } 
        h1
        {
            color: rgb(255, 255, 255);
            padding-left: 15px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        body
        {
        background-color: rgb(44, 36, 36);
        }
        img
        {
            width: 100%;
            height: auto;
            display: block;
            opacity: 76%;
        }
        .context h1 
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white; /* Change color if needed */
            font-size: 40px;
            text-align: center;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    } 
           .click {
                position: absolute;
                top: 70%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 40px;
                font-weight: 600; /* optional */
                color: #000;
                text-align: center;
                background: transparent;
                border: 2px solid #000;              
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }

            .click:hover {
                background: #000;
                color: #fff;
                cursor: pointer;
                transition-duration: 1s;
                /* transition-delay: 1s; */
            }

                    .lists {
                padding-right: 20px;
                margin-right: 42%;
                font-size: 20px;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-weight: bold;
                color: aliceblue;
            }

            .lists ul {
                display: flex; 
                gap: 20px;  
                list-style: none;
            }

            .lists a {
                color: aliceblue;
                text-decoration: none;
            }

            .lists a:hover {
                color: yellow;
            }

            *
            {
                margin: 0px;
                padding: 0px;
                box-sizing: border-box;
            }
            .cardcontainer
            {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-top: 100px;
            }
            .card
            {
                width: 325px;
                background-color: black;
                border-radius: 9px;
                overflow: hidden;
                box-shadow: 0px 2px 4px black;
            }
    